.start-animation {
  background: linear-gradient(
    30deg,
    rgba(0, 151, 56, 0.8),
    rgba(23, 0, 153, 0.8)
  );
  animation: startAnimation 120s ease-in-out;
}

@keyframes startAnimation {
  0% {
    opacity: 0;
    transform: scale(0.3) rotate(-720deg);
  }
  1.5% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
  25% {
    background: linear-gradient(to right, #ff8a00, #e52e71); 
  }
  50% {
    background: linear-gradient(to right, #1e90ff, #00ced1); 
  }
  75% {
    background: linear-gradient(to right, #228e5c, #252793);
  }
 
}
.modal-animation {
  animation: opacity 1s ease-in-out;
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* .start-animation {
  background: linear-gradient(
    30deg,
    rgba(0, 151, 56, 0.8),
    rgba(23, 0, 153, 0.8)
  );
  animation: start 1s ease-in-out forwards;

}

@keyframes start {
  0% {
    opacity: 0;
    transform: scale(0.3) rotate(-720deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
  25% {
    background: linear-gradient(to right, #ff8a00, #e52e71); 
  }
  50% {
    background: linear-gradient(to right, #1e90ff, #00ced1); 
  }
  75% {
    background: linear-gradient(to right, #ff8a00, #e52e71);
  }
} */

.header__person-animation {
  animation: move 60s infinite;
}

@keyframes move {
  0%,
  4% {
    transform: scale(1);
  }
  2% {
    transform: scale(1.05);
  }

  25%,
  27%,
  48%,
  51% {
    transform: scale(1) rotate(0);
  }
  26% {
    transform: scaleX(0.5) rotate(0);
  }
  50% {
    transform: scale(1) rotate(-1deg);
  }
  50.5% {
    transform: scale(1) rotate(1deg);
  }

  79%,
  81% {
    transform: scale(1) translateX(0px);
  }
  80% {
    transform: translateX(-30px);
  }
}
.letter-animation {
  display: inline-block;
  animation: rotateLetter 10s infinite;
  transform-origin: center;
}

@keyframes rotateLetter {
  0%,
  10%,
  100% {
    transform: rotate(0);
  }
  5% {
    transform: rotateX(180deg);
  }
}
