* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #b4b4b4;
  cursor: url(../img/cursor.svg), auto;
  margin: 20px auto;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

}
.loading-gentle {
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(.3) rotate(-360deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);

  }
}

aside {
  width: 370px;
  background-color: #1e2939;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

main {
  width: 1000px;
  height: auto;
  margin: 250px 0 100px 0;
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  position: relative;
  margin: 0px auto;
  width: 1200px;
  background: #e2e2e2;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

.header__box {
  position: absolute;
  width: 1000px;
  height: auto;
  background-color: #2b394d;
  top: 30px;
  left: 100px;
  padding: 15px 0 15px 0;
}
.header__title {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1.3px;
  padding-left: 300px;
  color: white;
}
.header__person {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 90px;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
}
.header__person {
  animation: heartBeat 15s infinite;
}
@keyframes heartBeat {
  0% {
    transform: scale(1);
  }
  1% {
    transform: scale(1.05);
  }
   5% {
    transform: scale(1);
  }
  25% {
    transform: scale(1) rotate(0);
  }
  27% {
    transform: scaleX(0.5) rotate(0);
  }
  30% {
    transform: scale(1) rotate(0);
  }
  48% {
    transform: scale(1) rotate(0);

  }
  50% {
    transform: scale(1) rotate(-1deg);

  }
  51% {
    transform: scale(1) rotate(1deg);

  }
  53% {
    transform: scale(1) rotate(0);

  }
  78% {
    transform: scale(1) translateX(0px);

  }
  80% {
    transform: scale(1) translateX(-30px);

  }
  82% {
    transform: scale(1) translateX(0px);

  }
}
.header__person__first-name {
  color: #a8a8a8;
}


.header__person__last-name {
  color: #fb6d3a;
  padding: 20px 0 0 10px;
}
.header__sub-title {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #d8d8d8;
  padding: 5px 60px 25px 0;
  text-align: right;
}
.section__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: 25px 0 25px 80px;
 
}

.section__title {
  font-weight: 700;
  font-size: 28px;
  padding: 15px 0 15px 25px;
  color: #000000;
}
.section__list {
  list-style: none;
  width: 500px;
}

.section__projects-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
}
.section__project-sort {
  display: flex;
  gap: 15px;
}
.section__projects-list li{
  width: 80px;
  height: 40px;
  background-color: rgba(250, 112, 61, 1);
  border-radius: 10px;
  border-bottom: 5px solid #2b394d;
  border-right: 3px solid #2b394d;
  cursor: pointer;
  color: #2b394d;
  transition: 0.25s ease-in-out ;
 }
 .section__projects-list li:hover {
   background-color: rgba(250, 112, 61, 0.9);
   transform: scale(1.02);
   color: #e2e2e2;
 }
.section__projects-list li:active {
  border-bottom:1px solid #2b394d;
  border-right: 1px solid #2b394d;
  transform: translate(1px, 2px);
  width: 82px;
  height: 42px;
  color:#d8d8d8;

}
.section__projects-list__link-text {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 10px;
  letter-spacing: 1.3px;
 
}
.section__list li {
  list-style: inside;
  padding: 0px 0 10px 10px;
  list-style-position: inside;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 1.3px;
}
.section__list-item {
  width: 70px;
  height: 30px;
  border: #595959 2px solid;
  border-radius: 10px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1.5px;
  padding-top: 10px;
  color: #595959;
  background-color: #fb6d3a;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.section__description {
  font-weight: 500;
  padding: 10px 0 10px 0;
}

.section__sub-title {
  font-weight: 700px;
  font-size: 22px;
}
.section__title-color {
  color: #fb6d3a;
}

.section__date {
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  color: #a8a8a8;
  padding: 5px 5px 10px 0;
}
/*  */
.cv-photo {
  position: relative;
  margin: 150px 0px 15px 0px;
  /* width: 250px;
  height: 200px; */
  border-top: solid 3px white;
  border-bottom: solid 3px white;
}

.aside__sub-title {
  color: #ffffff;
  padding-bottom: 10px;
}

.aside__contact {
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
  margin-left: 20px;
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 5px;
}
.aside__icon-smartphone {
  width: 16px;
  height: 18px;
  fill: currentColor;
}
.aside__icon-envelope {
  width: 18px;
  height: 16px;
  fill: currentColor;
  padding-top: 2px;
}
.aside__box {
  margin: 50px 0 50px 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.aside__skills-box {
  margin-top: 50px;
}

.aside__list-style {
  width: 8px;
  height: 8px;
  background-color: #fb6d3a;
  display: inline-block;
  transform: rotate(45deg);
  margin-right: 5px;
}

.aside__list {
  color: #fb6d3a;
  font-size: 14px;
  line-height: 26px;
  list-style: none;
  width: 250px;
}
.aside__list-item {
  color: #ffffff;
}

.skills-dev__list {
  margin-left: 20px;
  list-style: none;
}
.skills-dev__list li {
  transition: 0.2s ease-in-out;
  cursor: text;
}

.skills-dev__list li:hover {
  transform: scale(1.05);
}
.skill-dev__item {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.skill-dev__list-style {
  width: 5px;
  height: 5px;
  background-color: transparent;
  display: inline-block;
  transform: rotate(45deg);
  border: #fb6d3a 1.5px solid;
}
