* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  color: rgb(37, 37, 45);
  font-family: "Montserrat", sans-serif;
  cursor: url(../img/cursor.svg), auto;
  text-shadow: var(--body-text-shadow);
  min-width: 320px;
  transform: scale(0.25);
  transform-origin: left top;

  @include small {
    transform: scale(0.5);
  }
  @include medium {
    width: 768px;
    transform: scale(0.7);
    margin: 20px auto;
  }
  @include large {
      width: 1200px;
      transform: scale(1);

  }
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  position: relative;
  width: 1200px;
  background: var(--wrapper-background-color);
  box-shadow: var(--wrapper-box-shadow);
}
