//  js  //
.backdrop.is-visible {
  display: block;
}
.modal.is-visible {
  display: block;
}
//  //
.backdrop {
  display: none;
  position: fixed;
  inset: 0;
  width: 400vw;
  height: 400vh;
  background-color: rgba(0, 0, 0, 0.6);

  @include large {
    inset: 0;
  margin-left: -1960px;

  }
}

.modal {
  display: none;
  position: fixed;
  top: 20%;
  left: 50%;
  // transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #e3dada;
  border: 8px solid #2b394d;
  border-radius: 20px;
  text-align: center;
  width: 700px;
  height: 700px;

  @include medium {
    top: 30%;
    left: 40%;
  }

  @include large {
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

  &__img {
    width: 400px;
    height: 600px;
    margin: auto;
    border: 12px double darkgrey;
    padding: 10px;
  }
}

.gallery-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 10px;

  &__btn {
    width: 100px;
    height: 40px;
    background-color: rgba(250, 112, 61, 1);
    border-radius: 10px;
    border: 2px solid #2b394d;
    cursor: pointer;
    color: #2b394d;
    transition: 0.25s ease-in-out;
    border-radius: 10px;
    border-bottom: 5px solid #2b394d;
    border-right: 3px solid #2b394d;

    text-align: center;
    font-weight: 700;
    letter-spacing: 1.3px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);


    &:hover {
      background-color: rgba(250, 112, 61, 0.9);
      transform: scale(1.02);
      color: #e2e2e2;
    }
    &:active {
      height: 38px;

      border: 2px solid #2b394d;
    }
  }
}
