.section {
    &__box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      margin: 25px 0 25px 80px;
    }

    &__title {
      font-weight: 700;
      font-size: 28px;
      padding: 15px 0 15px 25px;
      color: #000000;
    }
    &__list {
      list-style: none;
      width: 500px;
    }

    &__projects-list {
      display: flex;
      flex-direction: column;
      gap: 20px;
      list-style: none;
    }
    &__project-sort {
      display: flex;
      gap: 15px;
    }
    &__projects-list li {
      width: 80px;
      height: 40px;
      background-color: rgba(250, 112, 61, 1);
      border-radius: 10px;
      border-bottom: 5px solid #2b394d;
      border-right: 3px solid #2b394d;
      cursor: pointer;
      color: #2b394d;
      transition: 0.25s ease-in-out;

      &:hover {
        background-color: rgba(250, 112, 61, 0.9);
        transform: scale(1.02);
        color: #e2e2e2;
      }
      &:active {
        border-bottom: 1px solid #2b394d;
        border-right: 1px solid #2b394d;
        transform: translate(3px, 3px);
        width: 82px;
        height: 40px;
        color: #d8d8d8;
      }
    }
    &__projects-list--text {
      text-align: center;
      font-weight: 700;
      text-transform: uppercase;
      padding-top: 10px;
      letter-spacing: 1.3px;
    }
    &__list li {
      list-style: inside;
      padding: 0px 0 10px 10px;
      list-style-position: inside;
      font-weight: 500;
      font-size: 18px;
      letter-spacing: 1.3px;
    }
    &__list-item {
      width: 70px;
      height: 30px;
      border: #595959 2px solid;
      border-radius: 10px;
      font-weight: 400;
      font-size: 14px;
      letter-spacing: 1.5px;
      padding-top: 10px;
      color: #595959;
      background-color: #fb6d3a;
      text-align: center;
      text-transform: uppercase;
      cursor: pointer;
    }

    &__description {
      font-weight: 500;
      padding: 10px 0 10px 0;
    }

    &__sub-title {
      font-weight: 700px;
      font-size: 22px;
    }
    &__title-color {
      color: #fb6d3a;
    }

    &__date {
      font-weight: 400;
      font-size: 14px;
      line-height: 15px;
      color: #a8a8a8;
      padding: 5px 5px 10px 0;
    }
  }