<div id="career" class="partial">
  <section class="section__box">
    <h2 class="section__title">Kariera zawodowa</h2>
    <h3 class="section__sub-title">
      Mechanik
      <span class="section__title-color">Serwis Montaż</span>
    </h3>
    <p class="section__date">31.07.2024-14.10.2024 "P&M Innovatiw Sp. z o.o"</p>
    <ul class="section__list">
      <li>

        Instalacja sekcji transporterów taśmowych, montaż i łączenie
        poszczególnych segmentów zgodnie z wytycznymi projektu i rysunkiem
        technicznym. Kontrukcja w całości oparta na przenośnikach firmy "Beumer Group" 
      </li>
      <li>
        Montaż i instalacja konstrukcji stalowych dla pod intalacje kablowe,
        prace na wysokości
      </li>
      <li>
        Serwisowanie maszyn - przenośników taśmowych dla firmy "Saint-Gobain"
      </li>
    </ul>
  </section>

  <section class="section__box">
    <h3 class="section__sub-title">
      Sprzedawca serwisant
      <span class="section__title-color">Pracownik hurtowni</span>
    </h3>
    <p class="section__date">2018-31.05.2024 "Silesia Hurt"</p>
    <p class="section__date">2012-2018 "Perfect Hurt"</p>
    <ul class="section__list">
      <li>
        Obsługa kontrahentów, sprzedaż, realizacja zamówień wysyłkowych,
        przyjmowanie towaru, kontrola techniczna, prowadzenie serwisu
      </li>
    </ul>
  </section>

  <section class="section__box">
    <h3 class="section__sub-title">
      Kierownik serwisu
      <span class="section__title-color">Serwisant</span>
    </h3>
    <p class="section__date">2010-2012 P.U.H HERMES "TIMEMASTER"</p>
    <ul class="section__list">
      <li>
        Kierowanie zaspołem, zlecanie napraw, kontrola ilościowa i jakościowa
        wykonanych prac
      </li>
    </ul>
  </section>
  <section class="section__box">
    <h3 class="section__sub-title">
      Magazynier <span class="section__title-color">Serwisant </span>
    </h3>
    <p class="section__date">2000-2010 P.U.H HERMES "TIMEMASTER"</p>
    <ul class="section__list">
      <li>
        Obsługa kontrahentów, opowiedzialność za przyjmowanie i wydawanie
        towaru, realizacja i wysyłka zamówien
      </li>
    </ul>
  </section>
  <section class="section__box">
    <h3 class="section__sub-title">
      Serwisant <span class="section__title-color">Zegarmistrz</span>
    </h3>
    <p class="section__date">1993-2023 Praca na zlecenie</p>
    <ul class="section__list">
      <li>
        Jako zegarmistrz aktywnie współpracuje z firmami prowadzacymi sprzedaż
        zegarków, zegarów są to sklepy stacjonarne, e-commerce, hurtownie,
        klienci indywidualni
      </li>
    </ul>
  </section>
</div>
