<section id="letter" class="partial hide">
  <ul class="letter">
    <li class="letter__item">
      <p>Szanowni Państwo</p>
    </li>
    <li class="letter__item">
<p><span>Z</span> przyjemnością składam aplikację na stanowisko w Państwa firmie, 
  wyrażając zainteresowanie współpracą w szerokim zakresie, obejmującym doświadczenie na takich stanowiskach jak 
  kierpwnik serwisu, zegarmistrz, serwisant, mechanik, sprzedawca, magazynier, kierowca czy frontend developer. 
  <span>J</span>estem osobą otwartą na różnorodne wyzwania, z pasją do rozwoju zawodowego oraz chęcią doskonalenia swoich umiejętności w nowych obszarach.
Posiadam wieloletnie doświadczenie zawodowe w różnych branżach, m.in. w obszarze zegarmistrzostwa, serwisowania sprzętu oraz sprzedaży.
  Moja praca zawodowa obejmowała m.in. zarządzanie serwisem, obsługę kontrahentów, instalację oraz serwisowanie maszyn, a także współpracę z klientami indywidualnymi i firmami. 
  Dodatkowo, w trakcie pracy zawodowej, zdobyłem doświadczenie w zakresie sprzedaży detalicznej oraz hurtowej, co pozwala mi na skuteczne zarządzanie procesem sprzedaży i obsługi klienta.
<span>M</span>oje doświadczenie zawodowe nie ogranicza się jednak tylko do obszaru serwisowania, montażu i sprzedaży. 
  Z powodzeniem łączę je z umiejętnościami programistycznymi, które zdobyłem w trakcie kursów i samodzielnej nauki w zakresie HTML5, CSS3, JavaScript, React, Redux oraz Node.js.
  Zajmuję się również modernizowaniem i naprawą sprzętu komputerowego, co jest kolejną moją pasją.
  Moje umiejętności analityczne oraz zdolność do rozwiązywania problemów technicznych pozwalają mi na skuteczne i szybkie podejmowanie działań w obszarze IT.
<span>J</span>ako osoba zmotywowana, zorganizowana i otwarta na naukę, jestem pewny, że doskonale sprawdzę się w każdej roli, 
  która pozwoli mi rozwijać zarówno moje umiejętności techniczne, jak i interpersonalne. Dodatkowo, jestem osobą, która potrafi zarządzać czasem,
  przestrzegać terminów i zawsze stawia na jakość wykonywanej pracy.
<span>C</span>hciałbym mieć okazję dołączyć do Państwa zespołu i przyczynić się do dalszego rozwoju firmy, 
  jednocześnie zdobywając cenne doświadczenie i rozwijając się w kierunku nowych kompetencji. Liczę, że moje doświadczenie, 
  umiejętności i zaangażowanie będą cennym atutem w Państwa organizacji.
Z niecierpliwością czekam na możliwość spotkania, aby szczegółowo omówić, w jaki sposób mogę przyczynić się do sukcesów Państwa firmy.</p>
</li>
    
    <li class="letter__item">
      <p>Z poważaniem:</p>
      <p>Sebastian Adamoszek</p>
    </li>
  </ul>
</section>
