<section id="letter" class="partial hide">
  <ul class="letter">
    <li class="letter__item">
      <p>[Imię i Nazwisko Osoby Odpowiedzialnej za Rekrutację]</p>
      <p>Firma IT-POLSKA</p>
      <p>[Adres Firmy]</p>
      <p>[Kod Pocztowy i Miasto]</p>
    </li>
    <li class="letter__item">
      <p>Szanowna Pani / Szanowny Panie,</p>
      <p>
        <span>Z</span> wielką pasją i zapałem chciałbym zgłosić swoją kandydaturę na
        stanowisko Junior Full Stack Developer w Państwa firmie. Po zakończeniu
        kursów programistycznych oraz zdobyciu kompetencji cyfrowych, moje
        umiejętności i determinacja czynią mnie gotowym do wkroczenia na ścieżkę
        zawodową w branży IT.
      </p>
      <p>
        <span>U</span>kończyłem szkołę programowania Fullstack Developer w GO-IT Polska oraz
        przeszedłem szkolenie komputerowe ICT - REACT 120h. Moje umiejętności
        obejmują znajomość HTML5, CSS3, SASS, BEM, JavaScript, React, Redux,
        Node.js, MongoDB, REST API, Handlebars, Webpack Parcel, GitHub oraz GIT.
      </p>
      <p>
        <span>S</span>zkoła GO-IT Polska była dla mnie nie tylko źródłem wiedzy, ale także
        platformą do praktycznego rozwoju umiejętności. Przez 10 miesięcy
        intensywnych kursów online, uczestniczyłem w regularnych wykładach dwa
        razy w tygodniu oraz wykonywałem cotygodniowe zadania domowe, a także
        brałem udział w trzech projektach grupowych, które obejmowały prace z
        HTML, CSS, JavaScript, React oraz Node.js. Moje doświadczenie w tych
        technologiach dało mi pewność siebie oraz umiejętność pracy zarówno
        samodzielnie, jak i w zespole.
      </p>
      <p>
        <span>P</span>rzygotowuję się na nowe wyzwania i chętnie rozwijam moje umiejętności.
        Jestem przekonany, że moja determinacja, pasja oraz zdolność do
        szybkiego uczenia się mogą przyczynić się do osiągnięcia sukcesów w
        Państwa firmie. Stwierdzam gotość do podjęcia pracy na stanowisku Junior
        Full Stack Developer i wnosić swoje zaangażowanie oraz umiejętności do
        zespołu. Będę wdzięczny za możliwość udziału w dalszym procesie
        rekrutacji oraz za szansę udowodnienia mojej wartości dla Państwa firmy.
      </p>
    </li>
    <li class="letter__item">
      <p>Z poważaniem:</p>
      <p>Sebastian Adamoszek</p>
    </li>
  </ul>
</section>
