<nav class="pages">
  <ul class="pages__list">
    <li id="clickAbout"
      class="pages__list__element activeShadow"
      onclick="togglePartial('about'); showHide('letter', 'hide'); toggleActiveShadow('clickAbout');"
    >
      <p class="pages__list-text">O mnie</p>
    </li>
    <li id="clickLetter" class="pages__list__element">
      <p
        class="pages__list-text"
        onclick="togglePartial('letter'); 
                 showHide('repositories', 'hide'); 
                 showHide('career', 'hide'); 
                 showHide('education', 'hide');
                 toggleActiveShadow('clickLetter')"
      >
        List motywacyjny
      </p>
    </li>
    <li
      class="pages__list__element"
      onclick="window.open
    ('https://www.linkedin.com/login/pl','_blank')"
    >
      <p class="pages__list-text">LinkedIn</p>
    </li>
    <li
      class="pages__list__element"
      onclick="window.open
    ('https://github.com/SebastianAdamoszek/','_blank')"
    >
      <p class="pages__list-text">Github</p>
    </li>
  </ul>
</nav>
