<section id="repositories" class="section__box partial">
  <h2 class="section__title">Moje repozytoria</h2>
  <ul class="section__projects-list">
    <div class="section__project-sort">
      <li
        class="custom-tooltip"
        onclick="window.open
            ('https://github.com/SebastianAdamoszek/CV','_blank')"
      >
        <div class="tooltip-content">Przejdź do mojego projektu CV</div>
        <p class="section__projects-list--text">cv</p>
      </li>
    </div>
    <div class="section__project-sort">
      <li
        class="custom-tooltip"
        onclick="window.open
            ('https://github.com/SebastianAdamoszek/goit-markup-hw-08','_blank')"
      >
        <div class="tooltip-content">projekt indywidualny html</div>
        <p class="section__projects-list--text">html</p>
      </li>
      <li
        class="custom-tooltip"
        onclick="window.open
            ('https://github.com/SebastianAdamoszek/projekt_grupa_02','_blank')"
      >
        <div class="tooltip-content">projekt grupowy html</div>

        <p class="section__projects-list--text">html</p>
      </li>
    </div>
    <div class="section__project-sort">
      <li
        class="custom-tooltip"
        onclick="window.open
            ('https://github.com/SebastianAdamoszek/goit-js-hw-09','_blank')"
      >
        <div class="tooltip-content">pierwsze zadania js- color-switcher, timer, promises</div>

        <p class="section__projects-list--text">js</p>
      </li>
      <li
        class="custom-tooltip"
        onclick="window.open
            ('https://github.com/SebastianAdamoszek/goit-js-hw-10','_blank')"
      >
        <div class="tooltip-content">pierwsze zadania js-api</div>

        <p class="section__projects-list--text">js</p>
      </li>
      <li
        class="custom-tooltip"
        onclick="window.open
            ('https://github.com/SebastianAdamoszek/goit-js-hw-11','_blank')"
      >
        <div class="tooltip-content">pierwsze zadania js- wyszukiwarka zdjęć</div>

        <p class="section__projects-list--text">js</p>
      </li>
      <li
        class="custom-tooltip"
        onclick="window.open
            ('https://github.com/SebastianAdamoszek/project-js','_blank')"
      >
        <div class="tooltip-content">projekt grupowy js- Kup książkę</div>

        <p class="section__projects-list--text">js</p>
      </li>
    </div>
    <div class="section__project-sort">
      <li
        class="custom-tooltip"
        onclick="window.open
            ('https://github.com/SebastianAdamoszek/goit-react-hw-01-components','_blank')"
      >
        <div class="tooltip-content">pierwsze zadania- components</div>

        <p class="section__projects-list--text">react</p>
      </li>
      <li
        class="custom-tooltip"
        onclick="window.open
            ('https://github.com/SebastianAdamoszek/goit-react-hw-04-feedback','_blank')"
      >
        <div class="tooltip-content">pierwsze zadania- feedback</div>

        <p class="section__projects-list--text">react</p>
      </li>
      <li
        class="custom-tooltip"
        onclick="window.open
            ('https://github.com/SebastianAdamoszek/goit-react-hw-04-phonebook','_blank')"
      >
        <div class="tooltip-content">
          pierwsze zadania- książka telefoniczna
        </div>

        <p class="section__projects-list--text">react</p>
      </li>

      <li
        class="custom-tooltip"
        onclick="window.open
            ('https://github.com/SebastianAdamoszek/goit-react-hw-04-images','_blank')"
      >
        <div class="tooltip-content">wyszukiwarka zdjęć</div>

        <p class="section__projects-list--text">react</p>
      </li>
      <li
        class="custom-tooltip"
        onclick="window.open
            ('https://github.com/SebastianAdamoszek/goit-react-hw-05-movies','_blank')"
      >
        <div class="tooltip-content">wyszukiwarka filmów</div>

        <p class="section__projects-list--text">react</p>
      </li>
    </div>
    <div class="section__project-sort">
      <li
        class="custom-tooltip"
        onclick="window.open
          ('https://github.com/SebastianAdamoszek/goit-react-hw-07-phonebook','_blank')"
      >
        <div class="tooltip-content">książka telefoniczna</div>

        <p class="section__projects-list--text">redux</p>
      </li>
      <li
        class="custom-tooltip"
        onclick="window.open
        ('https://github.com/SebastianAdamoszek/goit-react-hw-08-phonebook','_blank')"
      >
        <div class="tooltip-content">
          książka telefoniczna- logowanie użytkownika
        </div>

        <p class="section__projects-list--text">redux</p>
      </li>
    </div>

    <div class="section__project-sort">
      <li
        class="custom-tooltip"
        onclick="window.open
            ('https://github.com/SebastianAdamoszek/cli-aplikacja','_blank')"
      >
        <div class="tooltip-content">kontakty, praca w terminalu</div>

        <p class="section__projects-list--text">node</p>
      </li>

      <li
        class="custom-tooltip"
        onclick="window.open
            ('https://github.com/SebastianAdamoszek/goit-node.js-tasks','_blank')"
      >
        <div class="tooltip-content">
          express, mongoDB, auth, avatars, email
        </div>

        <p class="section__projects-list--text">node</p>
      </li>
    </div>
    <div class="section__project-sort">
      <li
        class="custom-tooltip"
        onclick="window.open
            ('https://movie-app-nine-lime.vercel.app/','_blank')"
      >
        <div class="tooltip-content">movie api strona na vercel.com</div>

        <p class="section__projects-list--text">react</p>
      </li>

      <li
        class="custom-tooltip"
        onclick="window.open
            ('https://nextjs-aplication-xi.vercel.app/','_blank')"
      >
        <div class="tooltip-content">
          aplikacja oparta na next.js opublikowana na vercel.com
        </div>

        <p class="section__projects-list--text">next.js</p>
      </li>
    </div>
  </ul>
</section>
